.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

#title {
    font-size: 50px;
    margin:0px;
    position: absolute; /* new */
    left: 50%;
    transform: translateX(-50%);
}

.second-header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    left:50%;
}
#user-name {
    flex: 0 1 auto;
    margin-left: auto;
    font-weight:bold;
    margin-right: 50px;
}
.user-info {
    flex: 0 1 auto;
    margin-left: auto;
    margin-right:20px;
}

#user-button {
    width: 200px;
    height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
