.homepage-display{
    display: flex;
    flex-direction:row;
    margin-top: 50px;
}

#user-favourites {
    display:flex;
    flex-direction:column;
    margin-left:200px;
}

#user-suggestions{
    display:flex;
    flex-direction:column;
    margin-left: 200px;
}

.homepage-headings{
    font-size:30px;
    margin-top: 20px;
}
