
.Recipe{
    margin: 0px 80px 0px 80px;
}

.recipe-allparts{
    display:flex;
    flex-direction: row;
}

#recipe-header {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
}

.recipe-part1{
    display:flex;
    flex-direction:column;
}

.recipe-part2{
    margin: 0px 50px 0px 50px; 
    width: 1000px;
}

#averagerate{
    font-size:20px;
}

#add-ratings{
    margin-top:10px;
    font-size:20px;
}

.bullet{
    font-size:18px;
}

.heading{
    font-size:22px;
    font-weight: bold;
    margin-left:100px;
    margin-right:100px;
}

#cooking-time{
    font-size:20px;
}

#servings{
    font-size:20px;
}

#recipes-title{
    width:1000px;
    font-size:22px;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 50px;
    border-color: #282c34;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color:black;
  
}

#btn-favourite{
    color:red;
    border-color:red;
}


.button-viewRecipe {
    width: 150px;
    height: 30px;
    border-color: #282c34;
    border-radius: 28px;
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}

.btn-options{
    display:flex;
    flex-direction: row;
}

#btn-back{
    margin:30px 20px 0px 0px;
}

#btn-home {
    margin: 30px 0px 0px 0px;
}


/*
.msg_structure {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    border: 2px solid white;
    margin-top: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}

     .msg_structure::after was taken from the following link to force user name to go below their pic
https://stackoverflow.com/questions/45086899/flexbox-item-wrap-to-a-new-line 
    .msg_structure::after {
        content: "";
        flex: 0 0 100%;
        height: 0;
    }
*/

.msg_structure {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    border: 2px solid black;
    margin-top: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    
}
/*
    .msg_structure::after was taken from the following link to force user name to go below their pic
    https://stackoverflow.com/questions/45086899/flexbox-item-wrap-to-a-new-line */
    .msg_structure::after {
        content: "";
        flex: 0 0 100%;
        height: 0;
    }

.profile_pic {
    width: 65px;
}

.usr_msg {
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    align-items: center;
    color: black;
}

.date {
    padding: 10px;
    font-size: 20px;
    color: black;
}

.delete {
    width: 25px;
    height: 25px;
    background-image: url('./delete.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5px;
    margin-left: auto;
}

.usr_name {
    order: 1;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
}

#messages .msg_structure {
    border-bottom: 1px solid white;
}

#messages .image_next {
    border-bottom: 2px solid white;
}

.comment-field{
    height: 100px;
    width: 1000px;
    margin-left:100px;
}

.comment-form{
    display: flex;
    flex-direction: row;
}
