.allRecipesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}
.recipeBoxContainer {
    margin:45px;
    margin-bottom:200px;
    width:280px;
    height:200px;
}

.button-viewRecipe{
    width:120px;
    height:40px;
    font-size: 15px;
}

.link-viewRecipe {
    text-decoration:none;
}

#recipe-title {
    word-wrap: break-word;
    width:312px;
    height:70px;
    font-weight: bold;
    margin-top: 20px;
}

#recipe-image{
    width:312px;
    height:231px;
}

#recipe-cookingTime{
    font-weight: bold;
}

#recipe-servings{
    font-weight:bold;
}
